doctype html
html
  include head.pug
  body
    include nav.pug

    include dashboard/dashboard.pug
    
    include scripts.pug
    include footer.pug

    script(src='../js/includes/dashboard.js')
