#dashboard.section.no-pad-bot
  .container
    br
    .row.center
      h5.header.col.s12.light My devices
    .row
      
      .col.s4
        .card.small
          .card-image.waves-effect.waves-block.waves-light
            img.activator(src='images/light-switch.png')
          .card-content
            span.card-title.activator.grey-text.text-darken-4
              | Living Room
              i.material-icons.right more_vert
            .switch.center.device1
              label
                | Off
                input(type='checkbox')
                span.lever
                |       On
          .card-reveal
            span.card-title.grey-text.text-darken-4
              | Living Room
              i.material-icons.right close
            p
              | Here is some more information about this product that is only revealed once clicked on.

      
      .col.s4
        .card.small
          .card-image.waves-effect.waves-block.waves-light
            img.activator(src='images/light-switch.png')
          .card-content
            span.card-title.activator.grey-text.text-darken-4
              | Hallway
              i.material-icons.right more_vert
            .switch.center.device2
              label
                | Off
                input(type='checkbox')
                span.lever
                |       On
          .card-reveal
            span.card-title.grey-text.text-darken-4
              | Hallway
              i.material-icons.right close
            p
              | Here is some more information about this product that is only revealed once clicked on.


      .col.s4
        .card.small
          .card-image.waves-effect.waves-block.waves-light
            img.activator(src='images/light-switch.png')
          .card-content
            span.card-title.activator.grey-text.text-darken-4
              | Back Yard
              i.material-icons.right more_vert
            .switch.center.device3
              label
                | Off
                input(type='checkbox')
                span.lever
                |       On
          .card-reveal
            span.card-title.grey-text.text-darken-4
              | Back Yard
              i.material-icons.right close
            p
              | Here is some more information about this product that is only revealed once clicked on.



    br
    br
