/* === MATERIALIZE === */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
/* =================== */

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

#login .alert {
  display: none;
}

#login .preloader-wrapper {
  display: none;
}

#register .alert {
  display: none;
}

#register .preloader-wrapper {
  display: none;
}